<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--This clears any previously defined connection strings from the collection, 
		ensuring that only the connection string defined in this file will be used.-->
		<clear />
		<add name="AufgepasstConnectionString" connectionString="Server=.;Database=Aufgepasst;User Id=sa;Password=SQL;" />
	</connectionStrings>
</configuration>